.cards{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px ;
}
h1{
    text-align: center;
    color: black;
}
span{
    color: blue;
}